body {
    background: linear-gradient(135deg, #c7ccd6, #2c313a00);
    color: white;
    width: 100%;
    height: 100%;  
    font-family: Arial, sans-serif;
    position: relative;
    overflow-x: hidden;       
}


/* Glassmorphic Cards */
.card {
    background: rgba(255, 255, 255, 0.15)
}
#hero h1 {
    color: white; /* Sets the heading text color to white */
}

#hero p {
    color: white; /* Sets the paragraph text color to white */
}
#hero label
{
    color: white; 
}


/* Animation for the Light Effect */
@keyframes moveBackground {
    0% {
        transform: translateX(-10%) translateY(-10%);
    }
    100% {
        transform: translateX(10%) translateY(10%);
    }
}